<form class="needs-validation">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationCustom01">First name</label>
            <input type="text" class="form-control" [(ngModel)]="firstname" name="firstname" id="validationCustom01" placeholder="First name" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Last name</label>
            <input type="text" class="form-control" [(ngModel)]="lastname" name="lastname" id="validationCustom02" placeholder="Last name" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationCustom02">Handle</label>
            <input type="text" class="form-control" [(ngModel)]="handle" name="handle" id="validationCustom03" placeholder="Handle" required>
        </div>
    </div>

    <button class="btn btn-primary mr-6" type="button" (click)="saveToService()">Save Demo</button>
    <button class="btn btn-primary" type="button" (click)="backToList()">Back To List</button>

</form>